:root {
    background-color: #f24421;
    font-size: 62.5%;
}

*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: #c98d48;
}

.home{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
}

h1{
    font-size: 5rem;
    color: #c98d48;
    margin-bottom: 5rem;
}
h2{
    margin-bottom: 2rem;
    font-size: 3rem;
}
.choice{
    display: flex;
    width: 100%;
    font-size: 1.5rem;
    background-color: #fcf7e3;
    border: .3rem solid #c98d48;
    margin-bottom: 1rem;
    color: black;
}


.choice:hover{
    cursor: pointer;
    box-shadow: 0 .5rem 2rem #736c80;
    color: #fcf7e3;;
}

.letter{
    padding: 1.5rem 2rem;
    background-color: #736c80;
    color: #fcf7e3;
    font-size: 2rem;
}

.answer{
    padding: 1.5rem;
    font-size: 2rem;
    width:100%
}